body {
    background-color: #000;
    margin: 0 auto;
}

.container {
    width: 900px;
    margin: 0 auto;
}

img {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

section {
    font-family: 'EB Garamond', serif;
    color: #fff;
    width: 50%;
    position: absolute;
    text-align: center;
}

h1 {
    font-size: 36px;
}

#userGuessHtml {
    font-size: 36px;
}

#compChoice {
    font-size: 36px;
}

#winsCounter, #lossCounter, #guessCounter {
    font-size: 24px;
}

#p {
    text-align: center;
}